body{
  margin: 10px;
  margin-top: 10px;
}

body{
  background: #9c9a9aa3;
}

input{
  text-align: center;
}

h1{
  text-align: center;
}

.text {
  width: 300px;
  margin: 0 auto;
 }
 
 ul {
  list-style-type:none;
  margin: auto;
  padding: 10px;
 }
 
 li {
  margin: 10px
 }

 .button_green{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: none;
 }

 .verde{
  background-color: green;
 }

 .branco{
  background-color: white;
 }